.container-top{
     width: 100%;
     height: 50px;
     background-color: #ddd;
}
.button-top-right{
     display: block;
     cursor: pointer;
}
#btnControlTopRight {
     display: none;
     visibility: hidden;
}
#btnControlTopRight:checked + label > div{
     width: 300px;
}
.d-only-when-small{
     display: block;
}
#btnControlTopRight:checked + label > div > .d-only-when-small{
     display: none;
}
.d-only-when-big{
     display: none;
}
#btnControlTopRight:checked + label > div > .d-only-when-big{
     display: block;
}
.top-right{
     position: fixed;
     top: 0;
     right: 0;
     z-index: 2;
     height: 70px;
     display: flex;
     flex-direction: row;
}
.top-2right{
     padding: 3px;
}
.top-right-center{
     box-sizing: border-box;
     height: 70px;
     padding: 9px;
     color: #fff;
     background-color: #555;
     width: 50px;
     transition: 2s ease;
}
.top-right-left{
     width: 0;
     height: 0;
     border-top: 70px solid #555;
     border-left: 20px solid transparent;
}
.top-right a{
     color: inherit;
}
.top-right a:hover{
     text-decoration: none;
     color: inherit;
}
.username{
     display: inline-block;
}
.user-icon{
     padding-top: 5px;
}
.logout{
     padding-left: 4px;
}
.top-left{
     padding: 9px;
     position: relative;
}
.top-left a,.top-center a{
     color: #212529;
}
.top-left a:hover,.top-center a:hover{
     color: #000000;
     text-decoration: none;
}
.btnBack-number{
     position: absolute;
     top: 4px;
     right: 0;
     background-color: var(--notification-blue);
     width: 20px;
     height: 20px;
     border-radius: 10px;
     color: white;
     text-align: center;
     font-size: 10pt;
}
.chat-info{
     display: flex;
     padding-left: 5px;
}
.chat-info h3{
     flex-grow: 1;
}
.chat-info i{
     padding-left: 5px;
     cursor: pointer;
}