:root{
    --notification-blue: #6076ff;
}
.row-height{
    height: calc(100% - 50px);
    overflow: hidden;
}
.col-overflow{
    height:100%;
    overflow-y: auto;
}
.chat-select-form{
    display: flex;
    padding: 4px;
}
.chat-select-form input{
    flex-grow: 1;
    border-radius: 15px;
    border: 1.5px solid #888;
    padding-left: 14px;
}
.chat-select-form button{
    padding: 0;
    height: 30px;
    width: 30px;
    color: white;
    background-color: var(--notification-blue);
    border: none;
    border-radius: 15px;
    margin-left: 5px;
}
.chat-list .list-group-item:hover{
    background-color: #ebebeb;
    cursor: pointer;
    transition: 0.3s;
}
.chat-list .selected{
    background-color: #ebebeb;
}
.chat-list .newMsg-number{
    width: 20px;
    height: 20px;
    font-size: 10pt;
    color: white;
    text-align: center;
    background-color: #6076ff;
    border-radius: 10px;
    float: right;
}
.chat-list .lastMsg{
    font-size: 10pt;
    overflow: auto;
    height: 20px;
}
.chat-list .lastMsg-date{
    float: right;
}
.chat-list a{
    color: #000;
}
.chat-list a:hover{
    text-decoration: none;
    color: #000;
}
.messageLoader-top{
    box-sizing: content-box;
    margin:auto;
    width: 40px;
    height: 40px;
    padding-top: 20px;
}
.loader-init{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
}
.loader-init .init-container{
    margin: auto;
    max-width: 300px;
    padding: 25px;
    background-color: white;
}
.loader-init .loader-text{
    font-size: 11pt;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;
    margin: auto;
}
.chat-container{
    height: 100%;
}
.chat-container .messages{
    height: calc(100% - 50px);
    overflow-y: auto;
}
.msg-form {
    background: #ccc;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.msg-form input {
    border: 0;
    padding: 8px 20px;
    margin-right: .5%;
    border-radius: 20px;
    flex-grow: 1;
}
.msg-form button {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    padding-right: 15px;
    padding-left: 10px;
    background-color: inherit;
    border: none;
    position: relative;
    top: 4px;
}
.msg-form button i{
    color: #555;
}
.msg-form button i:hover{
    color: #212529;
}
.msg-container{
    margin: 0.5rem;
    width: 80%;
    max-width: 800px;
}
.msg-container-header{
    font-size: 14pt;
    font-family: Arial, sans-serif;
}
.msg-container-content{
    display: inline-block;
}
.messages .msg-date{
    float: right;
    font-size: 10pt;
}
