.settings{

  .settings-header {
    font-size: 20px;
  }

  .settings-body {
    padding: 5px;
  }

  .set-email-error {
    color: #e83e8c;
  }
  .emailChanged {
    color: #00cc00;
  }

  .settings-about {
    padding: 30px;

    a {
      font-size: 16pt;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}