@import "../../../sass/colors";

$cDateContainerBorder: #80b3ff;
$cDateContainerBG: #cce6ff;
$cErrorContainerBorder: #dc3545;
$cErrorContainerBG: #f0a8af;

.chat-container{
  height: 100%;

  .messages {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;

    .date-container, .error-container {
      float: left;
      width: 100%;
      text-align: center;
    }
    .date-container div{
      width: 400px;
      max-width: 80%;
      margin: auto;
      border: $cDateContainerBorder 1px solid;
      border-radius: 2px;
      background-color: $cDateContainerBG;
    }
    .error-container div {
      width: 400px;
      max-width: 80%;
      margin: auto;
      border: $cErrorContainerBorder 1px solid;
      border-radius: 5px;
      height: 50px;
      padding: 10px;
      background-color: $cErrorContainerBG;
    }
  }
}
.messages-bottom{
  position: fixed;
  bottom: 60px;
  right: 50px;

  .chevron-down{
    width: 40px;
    height: 40px;
    border: 2px solid $cBlack2HoverNo;
    border-radius: 20px;
    cursor: pointer;
  }
  i{
    position: absolute;
    top: 6px;
    left: 6px;
    color: $cBlack2HoverNo;

    &:hover {
      color: $cBlack2HoverYes;
    }
  }
  .number{
    position: absolute;
    top: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    font-size: 10pt;
    color: white;
    text-align: center;
    background-color: $cNotificationBlue;
    border-radius: 10px;
  }
}
@media screen and (max-width: 765px){
  .messages-bottom{
    right: 20px;
  }
}