@import '../../../sass/colors';
@import '../../../sass/list';

.groupChatInfo {
  padding: 20px;
  max-width: 800px;
  position: relative;

  .chatName {
    h1 {
      display: inline-block;
      margin-right: 10px;
    }

    .edit {
      display: inline-block;
      position: relative;
      bottom: 5px;
      color: $cBlack2HoverNo;
      cursor: pointer;

      &:hover {
        color: $cBlack2HoverYes;
      }
    }
  }
  .description {
    font-size: 14pt;
    padding-left: 20px;

    .edit {
      display: inline-block;
      padding-left: 10px;
      color: $cBlack2HoverNo;
      cursor: pointer;

      &:hover {
        color: $cBlack2HoverYes;
      }
    }
  }
  .chat-options-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 25px;
    color: $cBlack2HoverNo;
    cursor: pointer;

    &:hover {
      color: $cBlack2HoverYes;
    }
  }
  .userList {
    list-style-type: none;
    cursor: pointer;
    padding-left: 0;

    li {
      padding-left: 14px;
      padding-right: 14px;
      border-top: 1px solid $cLightGrey;

      .right {

        float: right;
        width: 70px;
        position: relative;

        i {
          position: relative;
          top: 3px;
          float: right;
          color: $cBlack2HoverNo;

          &:hover {
            color: $cBlack2HoverYes;
          }
        }
        .user-admin {
          color: $cNotificationBlue;
          font-weight: bold;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid $cLightGrey;
    }
    .userItem {
      color: inherit;
      display: inline-block;
      width: 100%;
      padding-top: 14px;
      height: 50px;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.rc-dropdown ul.userOptions,ul.chatOptions {

  @extend .v-list;

  position: absolute;
  right: 0;
  width: 300px;
  background-color: white;
  font-size: 14px;

  li {
    @extend .v-list-item;

    &.noLink {
      padding: 6px;
    }

    a {
      color: $cBlack2HoverNo;
      width: 100%;
      padding: 6px;
      display: inline-block;

      &:hover {
        text-decoration: none;
        color: $cBlack2HoverYes;
      }
    }
  }
}
/*.addUsers {
  min-height: 200px;
  max-width: 900px;
  margin: auto;
  padding-top: 20px;
  position: relative;
}*/
@media screen and (min-width: 765px){
  .groupChatInfo .userList  li .right {
    i {
      visibility: hidden;
      transition:visibility 0.3s linear,opacity 0.3s linear;
    }
  }
  .groupChatInfo .userList  li:hover .right {
    i {
      visibility: visible;
    }
  }
}
@media screen and (max-width: 765px){
  .groupChatInfo {
    overflow-y: auto;
    height: 100%;
  }
}