@import '../../../sass/colors';

.groupInfoForm {
  height: 100%;
  overflow-y: auto;

  /* Customize the label (the container) */
  .check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      width: 28px;
      border-radius: 2px;
      background-color: #eee;

      i {
        position: absolute;
        top: 3px;
        left: 3px;
        display: none;
        color: white;
      }
      /* Create the checkmark/indicator (hidden when not checked) *
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
      /* Style the checkmark/indicator *
      &:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }*/
    }
    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: $cNotificationBlue;
    }
    /* Show the checkmark when checked */
    input:checked ~ .checkmark i {
      display: block;
    }
  }
}