.messageLoader-top{
  box-sizing: content-box;
  margin:auto;
  width: 40px;
  height: 40px;
  padding-top: 20px;
}

.msg-container{
  margin: 0.5rem;
  width: 80%;
  max-width: 800px;
}
.msg-container-header{
  font-size: 14pt;
  font-family: Arial, sans-serif;
}
.msg-container-content{
  display: inline-block;
}
.messages .msg-date{
  float: right;
  font-size: 10pt;
}