@import '../newChat/newChatMixins';

$cUnderlineGrey: #888;

.select-users {
  position: relative;
  max-width: 700px;

  h4 {
    display: inline-block;
    padding-left: 10px;
  }
  .selected-num{
    text-decoration: underline solid $cUnderlineGrey;
    text-decoration-thickness: 5px;
    cursor: pointer;

    &:hover,
    &.selected{
      text-decoration-color: $cNotificationBlue;
    }
  }
  .btn-next{
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
  }
}

div.selectUsers {

  overflow-y: auto;

  .loader, .nothingFound {
    margin: auto;
  }

  ul.selectUsers {

    @extend .v-list;

    padding: 1rem 1rem 0;
    max-width: 800px;
    overflow-y: auto;

    li {
      @extend .v-list-item;

      padding: 0 8px;
      box-sizing: content-box;
      display: block;
      height: 40px;
      cursor: pointer;
      position: relative;

      a {
        padding: 8px 0;
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      &:hover .user-select, .user-select.selected {
        background-color: $cNotificationBlue;
        border: none;
        transition: 0.3s;
      }

      .username {
        padding: 0.5rem !important;
      }

      .user-select {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 5px;
        right: 15px;
        border: 1px solid $cLightGrey;
        border-radius: 15px;

        i {
          position: absolute;
          top: 5px;
          left: 4px;
          display: none;
        }
      }

      &:hover i, .user-select.selected i {
        display: block;
        color: white;
      }
    }
  }
}

@media screen and (min-width: 765px){
  div.selectUsers {
    width: 80%;
    margin-top: 20px;
    height: 400px;
  }
}
@media screen and (max-width: 765px){
  div.selectUsers {
    @include resultListMobile(110px);
  }
  div.selectUsers.only-selected {
    @include resultListMobile(45px);
  }
}