@import "src/sass/colors";

$cMessageFormBG: #ccc;

.msg-form {
  background: $cMessageFormBG;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .message-input {
    flex-grow: 1;
    position: relative;

    input {
      width: 100%;
      border: 0;
      padding: 8px 20px;
      margin-right: .5%;
      border-radius: 20px;
    }
  }
  .file-chooser {
    position: absolute;
    top: 4px;
    right: 20px;
    cursor: pointer;
    color: $cBlack2HoverNo;

    &:hover {
      color: $cBlack2HoverYes;
    }
    input {
      display: none;
    }
  }
  .emoji-toggle{
    position: absolute;
    top: 4px;
    right: 60px;
    cursor: pointer;
    color: $cBlack2HoverNo;

    &:hover{
      color: $cBlack2HoverYes;
    }
  }
  .btn-submit {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    padding-right: 15px;
    padding-left: 10px;
    background-color: inherit;
    border: none;
    position: relative;
    top: 4px;
  }
  button i {
    color: $cBlack2HoverNo;

    &:hover {
      color: $cBlack2HoverYes;
    }
  }
}