:root{
  --notification-blue: #6076ff;
  --grey-noHover: #555;
  --black-hover: #212529;
  --lightGrey: #ebebeb;
}
.col-overflow{
  height:100%;
  overflow-y: auto;
}
.h-100{
  height: 100%;
}
.w-100 {
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
